* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: var(--Pale-Blue);
}

:root {
  /* ### Primary */

  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  /* linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%) */

  /* ### Neutral */

  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

/* BODY */

.page-container {
  width: 100vw;
  height: 100vh;
  background: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

/* header */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* MAIN */

.container {
  width: 100%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.tittle,
.progress {
  padding: 2.8rem 2.3rem;
}

.tittle {
  background: var(--Dark-Blue);
  border-radius: 0.7rem 7rem 0.7rem 0.7rem;
  margin-bottom: 2.5rem;
}

.tittle__icons {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tittle__icons-box {
  background: var(--Very-Dark-Blue);
  padding: 0.9rem;
  margin-right: 1.2rem;
  border-radius: 0.6rem;
  width: 3.5rem;
  display: flex;
}

.tittle__icons-box:hover {
  background: var(--Dark-Blue);
  border: none;
  outline: 1px solid var(--Very-Dark-Blue);
}

.icon {
  margin: auto;
}

.progress {
  background: var(--Dark-Blue);
  border-radius: 0.6rem;
  position: relative;
}

.info-text {
  display: block;
  text-align: center;
}

.progress-state {
  margin: 1rem 0;
  position: relative;
}

.progress-state__bar {
  padding: 0.18rem;
  margin-bottom: 1rem;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 1rem;
  border-radius: 1.8rem;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.marker {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.1rem;
  border-radius: 50%;
  background-color: #fff;
}

.progress-state__bar .bar {
  width: 80%;
  background: linear-gradient(
    90deg,
    rgba(255, 163, 153, 1) 0%,
    rgba(255, 77, 151, 1) 100%
  );
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #f9bcca;
  }
  100% {
    width: 80%;
    background-color: #ef476f;
  }
}

.progress-state__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.progress-state__text-item {
  font-weight: 700;
}

.progress-state__text-item:nth-child(2) {
  justify-self: right;
}

.main-box {
  position: absolute;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  padding: 0.5rem;
  width: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.main-box__state {
  font-size: 2.3rem;
  color: rgba(0, 0, 0);
}

.main-box__state-info {
  display: inline-block;
  color: var(--Grayish-Blue);
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 0.5rem;
  text-transform: uppercase;
}
/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Tablet */
@media screen and (min-width: 700px) {
  .container {
    width: 70%;
  }

  .tittle__icons-box {
    padding: 0.9rem;
    width: 3.8rem;
  }

  .icon {
    width: 2.4rem;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .page-container {
    background: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
  }

  .container {
    width: 80%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .tittle {
    padding-right: 2.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
    width: 35%;
  }

  .tittle__logo {
    width: 10rem;
  }

  .tittle__icons-box {
    padding: 1rem;
    margin-right: 1.5rem;
    width: 4rem;
  }

  .icon {
    width: 2rem;
  }

  .progress {
    width: 50%;
  }

  .info-text {
    text-align: left;
  }

  .info-text,
  .info-text > b,
  .progress-state__text-item {
    font-size: 1.1rem;
  }

  .marker {
    margin-right: 0;
  }

  .main-box {
    top: -2.5rem;
    right: 2.5rem;
    left: auto;
    transform: translateX(0);
    padding: 1rem;
  }

  .main-box::before {
    border: 1rem solid #fff;
    content: "";
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    bottom: -30%;
    right: 0;
  }

  .main-box__state {
    font-size: 2.3rem;
  }

  .main-box__state-info {
    font-size: 0.7rem;
  }
}
/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)

## Typography

### Body Copy

- Font size: 14px

### Font

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700

*/
